.wholeCounter {
    text-align: center;
    background: black;
}

.wholeCounter div {
    display: inline-block;
    font-size:60px;
    line-height: 60px;
    background-color: black;
    color: white;
    padding: 10px;
    
}